{% extends 'base.html' %}
{% block title %}{{ seo.meta_title|default:'' }}{% endblock %}
{% block meta_desc %}{{ seo.meta_desc|default:'' }}{% endblock %}
{% block meta_keys %}{{ seo.meta_keys|default:'' }}{% endblock %}
{% block wrapper_style %}class="travels__bg"{% endblock %}
{% block content %}
  <div class="container">
  {% for article in about_list %}
    <div class="about">
      <div class="about__title">
        <h1>{{ article.title|default:'' }}</h1>
      </div>
      <div class="about__text">
        {{ article.text|safe|default:'' }}
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}
