.forum__title {
  line-height: 80px;
  text-align: center;
}
.forum-button__add {
  margin: 20px 0;
}
.forum-add-form input[type=text], .forum-add-form select {
  width: 400px;
}
.forum-add-form label {
  display: block;
  margin-top: 20px;
}
.forum-add-form .btn {
  margin: 20px 0;
}
.forum-theme {
  margin-bottom: 40px;
}
.forum-theme__title {
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0 0 1px #fff;
}
.forum-theme-container-list {
  list-style: none;
}
.forum-theme-container-list-item {
  display: block;
  border: 1px solid #c8e5bc;
}
.forum-theme-container-list-item:hover {
  background: #eafbdc;
}
.forum-theme-container-list-item dl {
  padding: 5px;
}
.forum-theme-container-list-item dl dt {
  display: inline-block;
  width: 80%;
}
.forum-theme-container-list-item dl dd {
  vertical-align: top;
  display: inline-block;
  width: 19%;
}
.forum .themes__title {
  font-weight: bold;
}
.forum .themes__author {
  font-weight: bold;
  font-size: 12px;
}
.forum .themes__created {
  font-size: 12px;
  color: #999;
}
