nav ul {
  list-style: none;
  margin-left: 50px;
  margin-top: 15px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 45px 20px 5px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -webkit-background-size: 50px;
  background-size: 50px;
  color: #f1f1f1;
  text-shadow: 2px 2px 0 #333;
}
nav ul li a:hover {
  text-decoration: none;
  opacity: 0.6;
  color: #f2f2f2;
}
nav ul li a.active {
  text-decoration: none;
  text-shadow: 0 0 2px red;
  color: #f2eec7;
}
nav ul li .icon-group {
  background-image: url('../img/menu-icon-group.png');
}
nav ul li .icon-about {
  background-image: url('../img/menu-icon-about.png');
}
nav ul li .icon-reviews {
  background-image: url('../img/menu-icon-reviews.png');
}
nav .auth-button {
  padding: 10px 20px;
  position: absolute;
  top: 27px;
  right: 0;
  font-size: 16px;
  color: #333;
  background: #fffbbb;
  text-transform: none;
}
nav .auth-user {
  display: block;
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  text-shadow: 1px 1px 1px #ff5c5c;
}
