.travels {
  padding: 30px 0;
}
.travels__bg {
  background-image: url('../img/travels__bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.travels-list {
  list-style: none;
}
.travels-list__title {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}
.travels-list__item {
  display: inline-block;
}
.travels-review-item {
  width: 90%;
  margin-bottom: 40px;
}
.travels-review-item-cover {
  display: block;
  padding: 5px;
  background: #fff;
  text-align: center;
  -webkit-box-shadow: 0 0 5px #333;
  -moz-box-shadow: 0 0 5px #333;
  box-shadow: 0 0 5px #333;
}
.travels-review-item-cover:hover {
  webkit-box-shadow: 0 0 15px #333;
  -moz-box-shadow: 0 0 15px #333;
  box-shadow: 0 0 15px #333;
}
.travels-review-item-cover__img {
  height: 185px;
  background-color: #000;
}
.travels-review-item-cover__img:hover {
  opacity: .8;
  -moz-opacity: .8;
  filter: alpha(opacity=80) #000000;
  -khtml-opacity: .8;
}
.travels-review-item__travel {
  color: #666;
  padding: 5px;
  font-weight: bold;
}
.travels-review-item__title {
  line-height: 1em;
  font-size: 14px;
  height: 40px;
}
.travels-review-change-form input[type=text],
.travels-review-add-form input[type=text],
.travels-review-change-form select,
.travels-review-add-form select {
  width: 400px;
}
.travels-review-change-form label, .travels-review-add-form label {
  display: block;
  margin-top: 20px;
}
.travels-review-change-form .btn, .travels-review-add-form .btn {
  margin: 20px 0;
}
.travels-author {
  margin-bottom: 40px;
}
.travels-author-item {
  border: 1px solid #ccc;
  margin: 10px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
}
.travels-author-item:hover {
  background: rgba(255, 255, 255, 0.5);
}
.travels-author-item__avatar {
  display: inline-block;
  width: 20%;
  text-align: center;
  vertical-align: top;
}
.travels-author-item__avatar img {
  width: 124px;
  -webkit-border-radius: 124px;
  -moz-border-radius: 124px;
  border-radius: 124px;
}
.travels-author-item-content {
  display: inline-block;
  width: 69%;
}
.travels-author-item-content__name {
  font-weight: bold;
  padding: 10px 0;
}
.travels-author-item-content__text {
  margin-bottom: 10px;
}
.travels-author .button {
  padding: 21px;
  color: #101b3f;
  background: #fff66d;
  text-transform: uppercase;
  font-size: 28px;
  display: block;
  margin: 25px auto !important;
  width: 350px;
  border-radius: 10px;
  text-align: center;
}
.travels-comment {
  padding: 20px 0 40px;
}
.travels-comment__header {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 40px;
}
.travels-comment__auth-text {
  padding: 20px 0;
}
.travels-comment__auth-text a {
  margin-right: 20px;
}
.travels-comment-item {
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.5);
}
.travels-comment-item:hover {
  background: #fff;
  -webkit-box-shadow: 0 0 5px #666;
  -moz-box-shadow: 0 0 5px #666;
  box-shadow: 0 0 5px #666;
}
.travels-comment-item__title {
  padding: 10px;
}
.travels-comment-item__user {
  font-weight: bold;
  margin-bottom: 10px;
}
.travels-comment-item__created {
  color: #999;
  float: right;
  padding-left: 20px;
}
.travels-comment-item-text {
  padding: 10px;
}
.travels-comment-item-text__avatar {
  display: inline-block;
  width: 20%;
  text-align: center;
  vertical-align: top;
}
.travels-comment-item-text__avatar img {
  width: 124px;
  -webkit-border-radius: 124px;
  -moz-border-radius: 124px;
  border-radius: 124px;
}
.travels-comment-item-text__content {
  display: inline-block;
  width: 79%;
}
