{% extends 'base.html' %}
{% block title %}{{ meta_title|default:'' }}{% endblock %}
{% block meta_desc %}{{ meta_desc|default:'' }}{% endblock %}
{% block meta_keys %}{{ meta_keys|default:'' }}{% endblock %}
{% block content %}
  <div class="container">
    <div class="forum">
      <h1 class="forum__title">Вопросы и ответы</h1>
      <div class="panel panel-success forum-theme">
      {% if user.is_authenticated %}
        <a href="{% url 'forum:add' %}" class="btn btn-success forum-button__add">Создать новую тему</a>
      {% endif %}
        <div class="panel-heading forum-theme__title">
          <p>Темы</p>
        </div>
        <div class="panel-body forum-theme-container">
          <ul class="forum-theme-container-list">
          {% for theme in theme_list %}
            <li class="forum-theme-container-list-item">
              <dl>
                <dt>
                  <a href="{{ theme.get_absolute_url }}" class="themes__title">{{ theme.title }}</a><br>
                  <span class="themes__author">Автор: {% if theme.user.first_name %}{{ theme.user.last_name|default:'' }} {{ theme.user.first_name|default:'' }}{% else %}{{ theme.user }}{% endif %}</span>
                  <span class="themes__created"> {{ theme.created }}</span>
                </dt>
                <dd>
                  <span class="themes__answer">Ответов: {{ theme.themecomment_set.all|length }}</span>
                </dd>
              </dl>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
{% endblock %}
