<footer class="footer">
  <div class="container">
    <div class="col-third">
      <div class="footer-logotype">
        <a href="{% url 'home' %}">
          <img src="{{ STATIC_URL }}img/logotype.png" alt="На главную страницу">
        </a>
      </div>
      <div class="footer-social">
        <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,odnoklassniki,moimir"></div>
      </div>
    </div>
    <div class="col-third">
      <span class="footer__title">Страницы</span>
      <ul class="footer-menu">
        <li class="footer-menu__item"><a href="{% url 'about:list' %}">О нас</a></li>
        <li class="footer-menu__item"><a href="{% url 'travel:list' %}">Журнал путешествий</a></li>
        <li class="footer-menu__item"><a href="{% url 'groups:list' %}">Групповые туры</a></li>
      </ul>
    </div>
    <div class="col-third">
      <span class="footer__title">Контакты</span>
      <ul class="footer-contacts">
        <li class="footer-contacts__item icon icon-letter">email: <a href="mailto:manager@enjoy-africa.ru">manager@enjoy-africa.ru</a></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</footer>