<nav>
  <ul>
    <li><a href="{% url 'about:list' %}" class="icon-about">О НАС</a></li>
    <li><a href="{% url 'travel:list' %}" class="icon-reviews">ЖУРНАЛ ПЕТЕШЕСТВИЙ</a></li>
    <li><a href="#" class="icon-group">ГРУППОВЫЕ ТУРЫ</a></li>
  </ul>
  {% if user.is_authenticated %}
    <a href="{% url 'profile' %}" class="auth-user">{{ user.email }}</a>
    <a href="{% url 'logout' %}?next=/" class="auth-button button">Выход</a>
  {% else %}
    <a href="#pop-auth" class="auth-button button">Вход</a>
  {% endif %}
  <div class="clear"></div>
</nav>