<nav>
  <ul>
    <li class="active"><a href="#" class="icon-about">О НАС</a></li>
    <li><a href="#" class="icon-reviews">ЖУРНАЛ ПЕТЕШЕСТВИЙ</a></li>
    <li><a href="#" class="icon-group">ГРУППОВЫЕ ТУРЫ</a></li>
  </ul>
  {% if user.is_authenticated %}
    <span class="auth-user">{{ user.email }}</span>
    <a href="{% url 'logout' %}?next=/" class="auth-button button">Выход</a>
  {% else %}
    <a href="#pop-auth" class="auth-button button">Вход</a>
  {% endif %}
  <div class="clear"></div>
</nav>