header,
footer,
#block_1,
#block_2,
#block_3,
#block_4,
#block_5,
#block_6,
#block_7,
#block_8,
#block_9,
#block_10,
#block_11,
#block_12,
#block_13 {
  min-width: 910px;
  width: 100%;
  position: relative;
}
.container {
  width: 900px;
  margin: 0 auto;
}
h1 {
  font-size: 40px;
}
form.ticket {
  text-align: center;
  padding-bottom: 5px;
}
form.ticket input {
  border: none;
  border-radius: 8px;
}
form.ticket [type="text"],
form.ticket [type="email"] {
  padding: 12px 19px;
  font-size: 24px;
  width: 340px;
  margin-right: 50px;
}
form.ticket [type="text"]:first-child {
  margin-right: 50px;
}
form.ticket [type=submit] {
  padding: 21px;
  color: #101b3f;
  background: #fff66d;
  text-transform: uppercase;
  font-size: 28px;
  display: block;
  margin: 35px auto;
}
header {
  background: #101b3f;
  padding: 10px 0;
}
header img {
  float: left;
}
header button {
  background: #fff66d;
  border-radius: 8px;
  text-transform: uppercase;
  color: #101b3f;
  font-size: 20px;
  border: none;
  display: inline-block;
  float: right;
  padding: 8px;
  margin-top: 12px;
}
#block_1 {
  background: url("../img/kilimanjaro.jpg");
  background-size: 100%;
  height: 530px;
}
#block_1 p {
  padding-top: 60px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 5px #101b3f;
  text-align: center;
}
#block_2 {
  background-color: #1a86cc;
  background: url("../img/count.jpg") repeat;
}
#block_2 h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 42px;
  color: #101b3f;
}
#block_3 {
  background: url("../img/block_3_bg.jpg");
  background-size: 100%;
  padding: 10px 0;
}
#block_3 ul {
  list-style: none;
}
#block_3 ul li {
  margin-bottom: 20px;
}
#block_3 ul li:last-child {
  margin-bottom: 0;
}
#block_3 p {
  text-align: center;
}
#block_3 .title {
  font-size: 24px;
  line-height: 30px;
}
#block_3 .content {
  font-size: 14px;
}
#block_3 .one:before,
#block_3 .two:before,
#block_3 .three:before,
#block_3 .four:before {
  content: '';
  width: 29px;
  height: 29px;
  display: inline-block;
  position: absolute;
  margin-left: -35px;
}
#block_3 .one:before {
  background: url("../img/one.png");
}
#block_3 .two:before {
  background: url("../img/two.png");
}
#block_3 .three:before {
  background: url("../img/three.png");
}
#block_3 .four:before {
  background: url("../img/four.png");
}
#block_4 {
  background: url("../img/count.jpg") repeat;
}
#block_4 h2 {
  text-align: center;
  font-size: 23px;
  color: #fff;
  text-transform: uppercase;
  line-height: 90px;
}
#block_5 {
  background-color: #fff;
  background: url("../img/block_5_bg.jpg") 100% 100% no-repeat;
  background-size: 100%;
  padding-bottom: 20px;
}
#block_5 h2 {
  font-size: 43px;
  text-align: center;
  color: #101b3f;
  line-height: 70px;
}
#block_5 p {
  text-indent: 3em;
  color: #2a2a2a;
  font-size: 16px;
  margin-bottom: 20px;
}
#block_5 p:last-child {
  margin-bottom: 0;
}
#block_6 {
  background: url("../img/block_6_bg.jpg");
  background-size: 100%;
  text-align: center;
  padding-bottom: 45px;
}
#block_6 h2 {
  font-size: 42px;
  color: #101b3f;
  line-height: 80px;
}
#block_6 .step {
  background: #fff;
  border-radius: 10px;
  height: 77px;
  width: 205px;
  float: left;
  margin-right: 14px;
  position: relative;
}
#block_6 .step:after {
  content: '';
  width: 64px;
  height: 29px;
  bottom: -35px;
  right: -40px;
  position: absolute;
  background: url("../img/arrow_step.png");
}
#block_6 .step p {
  font-size: 14px;
  color: #101b3f;
  text-align: left;
  margin-top: 17px;
}
#block_6 .step img {
  float: left;
  margin-top: 11px;
  margin-left: 11px;
  padding-right: 10px;
}
#block_6 .last:after {
  display: none;
}
#block_7 {
  background: #21a8ff;
  padding: 17px 0;
}
#block_7 p {
  color: #fff;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}
#block_7 strong:last-child {
  color: #fff66d;
}
#block_8 {
  padding-top: 30px;
  background: url("../img/block_8_bg.jpg") 100% 70% no-repeat;
  background-size: 100%;
}
#block_9 {
  background: #21a8ff;
  padding: 17px 0;
}
#block_9 p {
  line-height: 110px;
  color: #fff;
  font-size: 22px;
  text-align: center;
}
#block_9 p:before {
  content: '';
  background: url("../img/block_9.png");
  width: 48px;
  height: 49px;
  display: inline-block;
  position: absolute;
  margin-left: -65px;
  top: 50%;
  margin-top: -25px;
}
#block_10 {
  background: url("../img/block_10_bg.jpg");
  background-size: 100%;
}
#block_10 h2 {
  text-align: center;
  line-height: 95px;
  color: #fff;
  font-size: 43px;
}
#block_10 ul {
  list-style: none;
  width: 670px;
  margin: 0 auto;
}
#block_10 ul li {
  color: #fff;
  font-size: 24px;
}
#block_10 ul li:last-child {
  margin-bottom: 0;
}
#block_10 ul li .icon {
  width: 150px;
  height: 150px;
  float: left;
  text-align: center;
  line-height: 150px;
}
#block_10 ul li .content {
  height: 150px;
  width: 510px;
  display: table;
}
#block_10 ul li .content p {
  line-height: 1.5em;
  vertical-align: middle;
  display: table-cell;
}
#block_10 ul li img {
  vertical-align: middle;
}
#block_11 {
  background: #21a8ff;
  padding: 10px 0;
}
#block_11 p {
  text-align: center;
  color: #fff;
  font-size: 24px;
}
#block_12 {
  padding-bottom: 20px;
}
#block_12 h3 {
  text-align: center;
  color: #101b3f;
  font-size: 32px;
  font-weight: bold;
  line-height: 65px;
}
#block_12 ul {
  list-style: none;
}
#block_12 .slider_1 {
  width: 800px;
  margin: 0 auto;
  position: relative;
}
#block_12 .slider_1 .photo {
  width: 133px;
  height: 133px;
  float: left;
}
#block_12 .slider_1 .photo img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
#block_12 .slider_1 .content {
  float: left;
  background: #f1f1f1;
  box-shadow: inset 0 0 55px #e5e5e5;
  padding: 20px;
  min-height: 110px;
  border-radius: 10px;
  margin-left: 18px;
  position: relative;
}
#block_12 .slider_1 .content .name {
  font-weight: bold;
  font-size: 16px;
}
#block_12 .slider_1 .content .datetime {
  font-size: 14px;
}
#block_12 .slider_1 .content p {
  width: 555px;
  font-style: italic;
  font-size: 14px;
  margin-top: 20px;
}
#block_12 .slider_1 .content:before {
  content: '';
  background: url("../slider1/slider_1_arrow.jpg");
  width: 9px;
  height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: -9px;
}
#block_12 .slider_1 .flex-nav-prev,
#block_12 .slider_1 .flex-nav-next {
  width: 24px;
  height: 32px;
  position: absolute;
  top: 50%;
  margin-top: -32px;
}
#block_12 .slider_1 .flex-nav-prev {
  left: -50px;
}
#block_12 .slider_1 .flex-nav-next {
  right: 0;
}
#block_12 .slider_1 a.flex-prev,
#block_12 .slider_1 a.flex-next {
  width: 24px;
  height: 32px;
  display: block;
  text-indent: -999999px;
}
#block_12 .slider_1 a.flex-prev {
  background: url("../img/prev.png");
}
#block_12 .slider_1 a.flex-next {
  background: url("../img/next.png");
}
#block_13 {
  padding: 34px 0;
  background: #e8e8e8;
}
#block_13 .slider_2 {
  width: 760px;
  margin: 0 auto;
  position: relative;
}
#block_13 .slider_2 .flex-nav-prev,
#block_13 .slider_2 .flex-nav-next {
  width: 24px;
  height: 32px;
  position: absolute;
  top: 50%;
  margin-top: -32px;
}
#block_13 .slider_2 .flex-nav-prev {
  left: -50px;
}
#block_13 .slider_2 .flex-nav-next {
  right: -50px;
}
#block_13 .slider_2 a.flex-prev,
#block_13 .slider_2 a.flex-next {
  width: 24px;
  height: 32px;
  display: block;
  text-indent: -999999px;
}
#block_13 .slider_2 a.flex-prev {
  background: url("../img/prev.png");
}
#block_13 .slider_2 a.flex-next {
  background: url("../img/next.png");
}
#block_13 .slider_2 img {
  width: 179px;
  height: 217px;
}
#block_13 ul {
  list-style: none;
}
footer {
  background: #21a8ff;
  padding-top: 30px;
}
input[type="text"].error,
input[type="email"].error {
  background: #ffcfa0;
}
input[type="text"].valid,
input[type="email"].valid {
  background: #fff;
}
label.error {
  position: absolute;
  margin-left: -300px;
  color: red;
  background: #f1f1f1;
  margin-top: -20px;
  border-radius: 5px;
  padding: 2px;
  box-shadow: 0 0 3px #333;
}
.modal {
  display: none;
  z-index: 10;
  width: 420px;
  height: 270px;
  background: #f1f1f1;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -135px;
  margin-left: -220px;
  text-align: center;
  box-shadow: 0 0 10px #999;
}
.modal form {
  margin: 20px;
}
.modal form input {
  margin-bottom: 10px;
}
