{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="groups">
      <h1 class="groups__title">Групповые туры</h1>
      <div class="col-8">
        <div class="groups-list">
          {% for group in group_list %}
          <div class="panel panel-primary groups-list-item">
            <div class="panel-heading groups-list-item__title"><a href="{{ group.get_absolute_url }}">{{ group.travel }} {{ group.title|default:'' }}</a></div>
            <div class="panel-body groups-list-item-content">
              <div class="col-4">
                <div class="groups-list-item-content__cover">
                  <img src="{{ group.cover.url }}" alt="">
                </div>
              </div>
              <div class="col-8">
                <div class="groups-list-item-content__table">
                  <table class="table">
                    <tr>
                      <td>Прибытие: <strong>{{ group.travel_start|default:'' }}</strong></td>
                      <td>Забронировано мест: <strong>{{ group.reserved|default:'0' }}</strong></td>
                    </tr>
                    <tr>
                      <td>Отъезд: <strong>{{ group.travel_end|default:'' }}</strong></td>
                      <td>Доступно мест: <strong>{{ group.seats|default:'' }}</strong></td>
                    </tr>
                    <tr>
                      <td>Стоимость: <strong>{{ group.price|default:'' }}</strong></td>
                      <td><a href="#pop" class="btn btn-success popupbutton" data-group="{{ group.id }}">Присоединиться к группе</a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-4">
        <div class="theme panel panel-success">
          <p class="theme__title panel-heading"><a href="{% url 'forum:list' %}">Темы:</a></p>
          {% for theme in theme_list %}
          <div class="theme-item">
            <div class="theme-item__title"><a href="{{ theme.get_absolute_url }}">{{ theme.title|default:'Название темы' }}</a></div>
            <div class="theme-item-content">
              <div class="theme-item-content__description">
                {{ theme.description|safe|truncatewords:20 }}
              </div>
              <a href="{{ theme.get_absolute_url }}" class="theme-item-content__link">Читать >></a><br>
              <span class="theme-item-content__author">Автор: {% if theme.user.first_name %}{{ theme.user.last_name }} {{ theme.user.first_name }}{% else %}{{ theme.user }}{% endif %}</span>
              <span class="theme-item-content__date">02.09.2015г.</span>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
{% endblock %}