{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h1>Групповые туры</h1>
    <div class="col-8">
      <p class="title">Группы (только актуальные по дате группы).</p>
      {% for group in '1234' %}
      <div class="panel panel-primary">
        <div class="panel-heading">Направление</div>
        <div class="panel-body">
          <div class="col-4">
            <img src="{{ STATIC_URL }}img/author-default.png" alt="">
          </div>
          <div class="col-8">
            <table class="table">
              <tr>
                <td>Прибытие 00-00-00</td>
                <td>Забронировано мест</td>
              </tr>
              <tr>
                <td>Отъезд 00-00-00</td>
                <td>Доступно мест</td>
              </tr>
              <tr>
                <td>Стоимость: 123123</td>
                <td><a href="#" class="btn btn-success">Присоединиться к группе</a></td>
              </tr>
            </table>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="col-4">
      <p class="title">Темы (будет ссылкой на список всех тем)</p>
      {% for group in '1234' %}
      <div class="panel panel-info">
        <div class="panel-heading">Название темы</div>
        <div class="panel-body">
          <span>Автор темы</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur distinctio eaque est ipsum obcaecati repudiandae sunt voluptatibus. Alias eius harum hic inventore laudantium mollitia quis similique tenetur unde voluptates? Reprehenderit?</p>
          <a>br href="#">Читать >></a><br>
          <span>Дата создания темы</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}