{% extends 'base.html' %}
{% block content %}
    <div id="block_1">
        <div class="container">
          <p>{{ header1|safe|default:'Заголовок 1' }}</p>
          <a href="#pop" class="popupbutton">Узнайте подробности</a>
          <div class="video">
                <div class="video-title">
                    <span>Что вас ждёт</span>
                </div>
                <a href="{{ setup.video|safe|default:'' }}" class="video-button">
                    <img src="{{ STATIC_URL }}img/play-button.png"  alt="Посмотреть видео"/>
                </a>
            </div>
        </div>
    </div>
    <div id="block_2">
        <div class="container">
            <p>{{ header2|safe|default:'Заголовок 2' }}</p>
        </div>
    </div>
    <div class="block3">
      <div class="container">
        {% if block3 %}
          {% for item in block3 %}
          <div class="block3-item block3-icon {{ item.icon }}">
            <div class="block3-item__title">{{ item.title|default:'' }}</div>
            <div class="block3-item__content">
              <p>
                {{ item.text|safe }}
              </p>
            </div>
          </div>
          {% endfor %}
        {% endif %}
        <div class="clear"></div>
      </div>
    </div>
    <div id="block_4">
        <div class="container">
            {{ header3|safe|default:'Заголовок 3' }}
            {% include 'form.html' with first=True %}
        </div>
    </div>
    <div class="block5">
        <div class="container">
            <h2>{{ header4|safe|default:'Заголовок 4' }}</h2>

          <div class="col-4">
            <div class="block5-avatar">
              <img src="{{ STATIC_URL }}img/avatar.jpg" alt="" class="block5-avatar__photo">
              <p>Вячеслав <br> Куликов</p>
            </div>
          </div>
          <div class="col-8">
            <div class="block5-content">
              <p>{% if attendant %}{{ attendant.text|safe|default:'' }}{% endif %}
              </p>
              <ul class="block5-list">
              {% if attendant %}
                {% for item in attendant.attendantitem_set.all %}
                <li class="block5-list-item block5-icon {{ item.icon }}">{{ item.text|safe|default:'' }}</li>
                {% endfor %}
              {% endif %}
              </ul>
            </div>
          </div>
        </div>
    </div>
    <div class="block6">
        <div class="container">
            <h2>{{ header5|safe|default:'Заголовок 5' }}</h2>
            <div class="step">
                <img src="{{ STATIC_URL }}img/block_6_1.png" alt=""/>
                <p>Заполните <br/>форму</p>
            </div>
            <div class="step">
                <img src="{{ STATIC_URL }}img/block_6_2.png" alt=""/>
                <p>Получите наше предложение</p>
            </div>
            <div class="step">
                <img src="{{ STATIC_URL }}img/block_6_3.png" alt=""/>
                <p>Забронируйте тур</p>
            </div>
            <div class="step last">
                <img src="{{ STATIC_URL }}img/block_6_4.png" alt=""/>
                <p>Приготовьтесь к сафари</p>
            </div>
            <div class="clear"></div>
            <p class="text-center block6__end-text">До встречи в Африке!</p>
        </div>
    </div>
    <div id="block_7">
        <div class="container">
            <p>
              {% if timer_text %}
                {{ timer_text|safe|default:'' }}
              {% endif %}
            </p>
        </div>
        {% if timer %}
        <div class="timer">
        {% include 'countdown/coundown.html' %}
        </div>
        {% endif %}
    </div>
    <div id="block_8">
        <div class="container">
            {% include 'form.html' with second=True %}
        </div>
    </div>
    <div class="block9">
        <div class="container">
            <p>{{ header6|safe|default:'Заголовок 6' }}</p>
        </div>
    </div>
    <div class="block10">
        <div class="container">
            <h2>{{ header7|safe|default:'Заголовок 7' }}</h2>
            <ul>
            {% if block10 %}
              {% for item in block10 %}
                <li>
                  <div class="content block10-icon {{ item.icon }}">
                    <p>{{ item.text|safe }}</p>
                  </div>
                  <div class="clear"></div>
                </li>
              {% endfor %}
            {% endif %}
            </ul>
        </div>
    </div>
    <div id="block_11">
        <div class="container">
            <p>{{ header8|safe|default:'Заголовок 8' }}</p>
        </div>
    </div>
    {% if review %}
    <div id="block_12">
        <div class="container">
            <h3>{{ header9|safe|default:'Заголовок 9' }}</h3>

            <div class="slider_1">
                <ul class="slides_1">
                {% for item in review %}
                    <li>
                        <div class="photo">
                            <img src="{{ item.image.url }}" alt="{{ item.title }}"/>
                        </div>
                        <div class="content">
                            <span class="name">{{ item.user.last_name }} {{ item.user.first_name }}</span>
                            <span class="datetime">{{ item.created }}</span>
                            <p>{{ item.text|striptags|safe|truncatewords:30 }}</p>
                            <a href="{{ item.get_absolute_url }}">Читать далее >></a>
                        </div>
                        <div class="clear"></div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    {% if slider %}
    <div id="block_13">
        <div class="container">
            <div class="slider_2">
                <ul class="slides">
                {% for item in slider %}
                    <li>
                        <img src="{{ item.image.url }}" alt="{{ item.name|default:'' }}"/>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="block14">
        <div class="container">
            {% include 'form.html' with third=True %}
        </div>
    </div>
{% endblock %}
