{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="profile">

      <p class="profile-title text-center">Профиль пользователя <strong>{{ user.email }}</strong></p>
      <ul class="nav nav-tabs" id="login_tab">
        <li class="active">
          <a href="#info" data-toggle="tab">Персональная информация</a>
        </li>
        <li>
          <a href="#article" data-toggle="tab">Статьи</a>
        </li>
        <li>
          <a href="#themes" data-toggle="tab">Темы на форуме</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="info">
          <div class="col-half">
            <p>Для того, что бы стать автором необходимо загрузить аватар и заполнить подпись</p><br>
            <form method="post" action="" id="personal_info_form" role="form" class="profile-info" enctype="multipart/form-data">{% csrf_token %}
              <label for="email">e-mail:</label>
              <input type="text" name="email" id="email" class="form-control" placeholder="e-mail" value="{{ user.email|default:'' }}">
              <input type="hidden" name="user" id="username" class="form-control" placeholder="e-mail" value="{{ user.pk }}">
              <label for="first_name">Имя:</label>
              <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Имя" value="{{ user.first_name|default:'' }}">
              <label for="last_name">Фамилия:</label>
              <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Фамилия" value="{{ user.last_name|default:'' }}">
              <label for="description">Подпись:</label>
              <textarea name="description" id="description" class="form-control" placeholder="Подпись автора">{{ user.avatar.description|default:'' }}</textarea>
              <label for="image">Новый аватар:</label>
              <input type="file" name="image" id="image" class="form-control">
              <button type="submit" class="btn btn-default profile-info__submit">Сохранить</button>
            </form>
          </div>
          <div class="col-half">
            <img src="{% if user.avatar.image %}{{ user.avatar.image.url }}{% endif %}" alt="">
          </div>
        </div>
        <div class="tab-pane" id="article">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>#ID</th>
              <th>Заголовок</th>
              <th>Дата создания</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            {% for article in user.travelreview_set.all %}
            <tr>
              <td><a href="{{ article.get_absolute_url }}">#{{ article.id }}</a></td>
              <td><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></td>
              <td>{{ article.created }}</td>
              <td><a href="{{ article.get_change_url }}" class="btn btn-info">редактировать</a></td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="tab-pane" id="themes">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>#ID</th>
              <th>Заголовок</th>
              <th>Дата создания</th>
              <th>Сообщений в теме</th>
            </tr>
            </thead>
            <tbody>
            {% for theme in user.theme_set.all %}
            <tr>
              <td><a href="{{ theme.get_absolute_url }}">#{{ theme.id }}</a></td>
              <td><a href="{{ theme.get_absolute_url }}">{{ theme.title }}</a></td>
              <td>{{ theme.created }}</td>
              <td>{{ theme.themecomment_set.all|length }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
{% endblock %}