{% extends 'base.html' %}
{% block wrapper_style %}class="travels__bg"{% endblock %}
{% block content %}
  <div class="container">
    <p class="title_big text-center">Журнал путешествий</p>
  {% if travel_list %}
    <div class="travels">
      <ul class="travels-list">
        <li class="travels-list__title">Наши направления: </li>
        <li class="travels-list__item">
            <a href="{% url 'travel:list' %}" class="btn {% if not travel_id %}btn-info{% else %}btn-success{% endif %}">Все</a>
          </li>
      {% for travel in travel_list %}
        <li class="travels-list__item">
{#          <a href="{{ travel.get_absolute_url }}" class="btn btn-success">{{ travel.title|default:'' }}</a>#}
          <a href="?travel={{ travel.id }}" class="btn {% if travel_id == travel.id %}btn-info{% else %}btn-success{% endif %}">{{ travel.title|default:'' }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>

  {% endif %}

  {% if travel_review_list %}
    <div class="travels-review">
    {% for item in '123456' %}
      {% for review in travel_review_list %}
      <div class="col-third">
        <div class="travels-review-item">
          <a href="{{ review.get_absolute_url }}" class="travels-review-item-cover">
{#          <a href="#" class="travels-review-item-cover">#}
            <img src="{{ review.image.url }}" alt="{{ review.title|default:'' }}" class="travels-review-item-cover__img" >
          </a>
          <p class="travels-review-item__travel">{{ review.travel }}</p>
          <a href="{{ review.get_absolute_url }}" class="travels-review-item__title">{{ review.title|default:'' }}</a>
        </div>
      </div>
      {% endfor %}
    {% endfor %}
      <div class="clear"></div>
    </div>
  {% else %}
    <p>Здесь пока ничего не опубликовано</p>
    <hr>
  {% endif %}
    <div class="travels-author">
      <p class="title_middle text-center">Наши авторы</p>
      {% for user in author_list %}
{#      {% if user.travelreview_set.all %}#}
      <div class="travels-author-item">
        <div class="travels-author-item__avatar"><img src="{% if user.avatar %}{{ user.avatar.image.url }}{% else %}{{ STATIC_URL }}img/no_avatar.gif{% endif %}" alt=""></div>
        <div class="travels-author-item-content">
          <p class="travels-author-item-content__name">{{ user }}</p>
          <p class="travels-author-item-content__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias in tempore velit. A accusamus asperiores aspernatur consequuntur corporis culpa cum dolorem enim expedita minima nulla odio officiis, temporibus vitae voluptatem.
          </p>
          <a href="?author={{ user.id }}">Читать >></a>
        </div>
        <div class="clear"></div>
      </div>
{#      {% endif %}#}
      {% endfor %}
    {% if user.is_authenticated %}
      <a href="{% url 'travel:add' %}" class="button">Новая публикация</a>
    {% else %}
      <a href="#pop-auth" class="auth-button button">Стать автором</a>
    {% endif %}
    </div>
  </div>
{% endblock %}