<div class="comment">
  <div class="container">
    <p class="comment__header">Комментарии:</p>
    {% if article.travelreviewcomment_set.all %}
      {% for comment in article.travelreviewcomment_set.all %}
      <div class="comment-item panel panel-success">
        <div class="comment-item__title panel-heading">
          <span>#{{ forloop.counter }}</span>
          <span class="comment-item__created">{{ comment.created }}</span>
        </div>
        <div class="comment-item-text panel-body">
          <div class="comment-item-text__avatar">
            <img src="{% if comment.user.avatar %}{{ comment.user.avatar.image.url }}{% else %}{{ STATIC_URL }}img/no_avatar.gif{% endif %}" alt="">
          </div>
          <div class="comment-item-text__content">
            <p class="comment-item__user">{{ comment.user }}</p>
            {{ comment.text|safe|default:'' }}
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <p>Комментариев нет</p>
    {% endif %}
    <hr>
    {% if user.is_authenticated %}
      <form action="" role="form" method="post" class="comment-form">{% csrf_token %}
        <label for="text">Оставить комментарий:</label><br>

        {{ comment_form.user }}
        {{ comment_form.travel_review }}
        {{ comment_form.text }}<br>
{#        <textarea name="text" id="" cols="30" rows="10" class="form-control travels-comment-form__text"></textarea>#}
        <button type="submit" class="btn btn-default">Отправить</button>
      </form>
    {% else %}
      <p class="comment__auth-text">
        <a href="#pop-auth" class="auth-button btn btn-warning">Авторизуйтесь</a>
        Только зарегистрированные пользователи могут оставлять комментарии
      </p>
    {% endif %}
    <div class="clear"></div>
  </div>
</div>